<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="title" value="TheHomeStayHub Datatabase Schema"/>
    <add key="provider" value="MicrosoftSqlServer"/>
    <add key="samples" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=.;Initial Catalog=AzureSQL;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>